body {
  background-image: url("./Imagenes/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.headerContainer {
  text-align: center;
}

.info {
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
  background: rgba(200, 54, 54, 0.5);
  color: white;
  padding: 10px;
  border-radius: 10px;
  border-top: 8px #E74C3C solid;
  width: 90%;
}

.conversorContainer {
  text-align: center;
}

.conversor {
  display: inline-block;
  width: 90%;
  border: solid 2px;
  margin: 0px;
  padding: 20px;
  background: rgba(102, 255, 0, 0.6);
  text-align: center;
}

.conversor ul {
  list-style: none;
}

.conversor ul li {
  display: inline;
}

#countriesList li {
  margin-left: 10px;
  margin-right: 10px;
}

#countriesList li figure {
  display: inline-block;
  font-size: 24px;
}

#countriesList li figure figcaption {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(102, 153, 0);

}

.flag:hover {
  opacity: 0.5;
}

.fav:hover {
  background: rgba(255, 204, 51, 0.8);
  border-radius: 10px;
}

.form {
  background-color: rgba(0, 0, 102, 0.8);
  height: 200px;
  padding-top: 8%;
  color: white;
  border-top: white 12px solid;
}

.form label {
  margin-bottom: 15px;
  margin-right: 20px;
  font-size: 24px;
  text-align: center;
}

.form select {
  width: 110px;
  height: 40px;
  padding: 10px;
  margin-right: 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  background: rgba(211, 47, 47, 0.8);
}

.form select option {
  font-weight: bold;
}

.form input[type=number] {
  margin-top: 25px;
  width: 200px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  background: rgba(211, 47, 47, 0.8);
  color: white;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.btn {
  margin-top: 4%;
  padding: 15px;
  width: 200px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgba(63, 81, 181, 0.8);
  color: white;
}
